<!DOCTYPE html>
<html>
    <head>
    {% block head %}
    <link href="../../src/css/interface.css" type="text/css" rel="stylesheet" />
    {% block stylesheets %}
        
    {% endblock %}
        <title>{% block title %}{% endblock %} Mediathek </title>
    {% endblock %}
    </head>
    <body>

      <div id="header">
        {% block header %}
        <div class="navbar">

                <button class="boutton"><a href="{{path_for('catalogue')}}">Catalogue</a></button>


            {% if auth.isConnected %}

            
                <button class="boutton"><a href="{{path_for('emprunt&retour')}}">Mes emprunts / Mes retours</a></button>
            
                <button class="boutton"><a href="{{path_for('profil')}}">Mon profil</a></button>

                <button class="boutton"><a href="{{path_for('deconnection')}}">Se déconnecter</a></button>
            

            {% else %}

                <button class="boutton"><a href="{{path_for('demandadhesion')}}">Demande d'adhésion</a></button>
                <button class="boutton"><a href="{{path_for('connexion')}}">Se connecter</a></button>
            
            
            

            {% endif %}

        </div>
        {% endblock %}
      </div> 

      {% block script %}{% endblock %}

    {% if flash.getMessage('info') %}
        <div class="alert-info">
        {{ flash.getMessage('info') | first }}
        </div>
    {% endif %}

    {% if flash.getMessage('error') %}
        <div class="alert-danger">
        {{ flash.getMessage('error') | first }}
        </div>
    {% endif %}

    {% if flash.getMessage('success') %}
        <div class="alert-success">
        {{ flash.getMessage('success') | first }}
        </div>
    {% endif %}

        <div id="content">{% block content %}{% endblock %}</div>

        <div id="footer">
            {% block footer %}
                Site crée par Farruggia, Fraschini, Ligerot, Vancoille
                &copy; Copyright</a>.
            {% endblock %}
        </div>
    </body>
</html>