{% extends 'Interface.html.twig' %}
   
{% block stylesheets %}
        <link href="../../src/css/profil.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

    <h1>Mon profils</h1>

    {% if auth.isConnected %}

    <div class="donnees">
    <label> Nom Prenom :</label>
        {{utilisateur.nom}} {{utilisateur.prenom}}
    <br>
    <br>
    <label>adresse mail :</label>
        {{utilisateur.mail}}
    <br>
    <br>
    <label>adresse :</label>
        {{utilisateur.adresse}}
    <br>
    <br>
    <label>téléphone:</label>
        {{utilisateur.telephone}}
    <br>
    <br>
    <label>date d'adhésion :</label>
        {{utilisateur.date_adhesion}}
    </div>
    

    {% else %}

    <h2>Vous devez etre connecter pour acceder a cette page !</h2>

    {% endif %}

{% endblock %}