   
   {% include 'layout.html.twig' %}
{% block stylesheets %}
    <link href="../../src/css/listeUtilisateur.css" type="text/css" rel="stylesheet" />
{% endblock %}
<h1>Liste des emprunts : </h1>
<div>
    <label for="rechercher-utilisateur">Rechercher un emprunts</label>
    <input type="search" id="rechercher-utilisateur" name="ru"
           aria-label="Search through site content">

    <button>rechercher</button>
</div>


<table class="blueTable">
<thead>
<tr>
<th>email de l'utilisateur</th>
<th>nom du document - code</th>
<th>Date emprunt</th>
<th>Date retour</th>
<th>Date limite</th>
</tr>
</thead>
   {% for emprunt in emprunts %}
       					
<tbody>
<tr>
<td>{{ emprunt.id_document }} </td>
<td>{{ emprunt.id_utilisateur }}</td>
<td>{{ emprunt.date_emprunt  }}</td>
<td>{{ emprunt.date_retour }}</td>
<td>{{ emprunt.date_limite }}</td>
</tr>
</tbody>

    {% endfor %}
          </table>
    </div>
