
{% include 'layout.html.twig' %}
{% block stylesheets %}
    <link href="../../src/css/listeUtilisateur.css" type="text/css" rel="stylesheet" />
{% endblock %}
<h1>Liste des emprunts : </h1>
<div>
    <label for="type-search">Trier par ordre: </label>
    <select name="type-search" id="type-search">
        <option value="1">croissant</option>
        <option value="2">decroissant</option>
    </select>
</div>
<div class="search">
    <label for="search_code">Rechercher un document</label>
    <input type="search" id="search_code" name="ru" value="code du document..." onfocus="if(this.value=='code du document...')this.value=''" onblur="if(this.value=='')this.value='code du document...'" autocomplete="off">
    <button id="submit_research_code">rechercher</button><div id="infoRecherche"></div>
</div>

<div id="tab">
    <table class="blueTable">
        <thead>
        <tr>
            <th>Numéro de l'emprunt</th>
            <th>email de l'utilisateur</th>
            <th>nom du document - code</th>
            <th>Date emprunt</th>
            <th>Date retour</th>
            <th>Date limite</th>
            <th>Nombre de jours de retards</th>
        </tr>
        </thead>
        {% for emprunt in emprunts %}
            <tbody>
            <tr>
                <td>{{ emprunt.id }}</td>
                <td>{{ emprunt.mail }} </td>
                <td>{{ emprunt.titre}} - {{ emprunt.code }}</td>
                <td>{{ emprunt.date_emprunt  }}</td>
                <td>{{ emprunt.date_retour }}</td>
                <td>{{ emprunt.date_limite }}</td>
                <td>{{ emprunt.retard }}</td>
            </tr>
            </tbody>
        {% endfor %}

    </table>
</div>
<script type="application/javascript">
    let listeDocuments = [];

    {% for emprunt in emprunts %}
    listeDocuments.push(["{{ emprunt.id }}","{{ emprunt.mail }}","{{ emprunt.code }}","{{ emprunt.titre}}","{{ emprunt.date_emprunt}}","{{ emprunt.date_retour}}","{{ emprunt.date_limite}}","{{ emprunt.retard }}"])
    {% endfor %}
    let rechercher = document.getElementById("submit_research_code");
    let codeDocument = document.getElementById("search_code");
    let content = document.getElementById("tab")
    rechercher.addEventListener('click', function (event) {
        let c = ""
        c = "<table class=\"blueTable\">\n" +
            "<thead>\n" +
            "<tr>\n" +
            "    <th>Numéro de l'emprunt</th>\n" +
            "<th>email de l'utilisateur</th>\n" +
            "<th>nom du document - code</th>\n" +
            "<th>Date emprunt</th>\n" +
            "<th>Date retour</th>\n" +
            "<th>Date limite</th>\n" +
            "    <th>Nombre de jours de retards</th>\n" +
            "</tr>\n" +
            "</thead>";
        let find = 0
        let rechCode = document.getElementById("infoRecherche");
        listeDocuments.forEach(function (doc) {
            if(doc[2] == codeDocument.value) {

                c += "<tbody>\n" +
                    "        <tr>\n" +
                    "            <td>"+doc[0]+"</td>\n" +
                    "        <td>"+doc[1]+" </td>\n" +
                    "        <td>"+doc[3]+" - "+doc[2]+"</td>\n" +
                    "        <td>"+doc[4]+"</td>\n" +
                    "        <td>"+doc[5]+"</td>\n" +
                    "        <td>"+doc[6]+"</td>\n" +
                    "            <td>"+doc[7]+"</td>\n" +
                    "        </tr>\n" +
                    "        </tbody>"
                find = 1
            }else {
                rechCode.innerHTML = "pas de code correspondant";
                content.innerHTML = "<table class=\"blueTable\">\n" +
                    "<thead>\n" +
                    "<tr>\n" +
                    "    <th>Numéro de l'emprunt</th>\n" +
                    "<th>email de l'utilisateur</th>\n" +
                    "<th>nom du document - code</th>\n" +
                    "<th>Date emprunt</th>\n" +
                    "<th>Date retour</th>\n" +
                    "<th>Date limite</th>\n" +
                    "    <th>Nombre de jours de retards</th>\n" +
                    "</tr>\n" +
                    "</thead>\n" +
                    "   {% for emprunt in emprunts|reverse %}\n" +
                    "        <tbody>\n" +
                    "        <tr>\n" +
                    "            <td>{{ emprunt.id }}</td>\n" +
                    "        <td>{{ emprunt.mail }} </td>\n" +
                    "        <td>{{ emprunt.titre }} - {{ emprunt.code }}</td>\n" +
                    "        <td>{{ emprunt.date_emprunt }}</td>\n" +
                    "        <td>{{ emprunt.date_retour }}</td>\n" +
                    "        <td>{{ emprunt.date_limite }}</td>\n" +
                    "            <td>{{ emprunt.retard }}</td>\n" +
                    "        </tr>\n" +
                    "        </tbody>\n" +
                    "    {% endfor %}\n" +
                    "\n" +
                    "          </table>"
            }
        })
        if(find == 1) {
            c += "</table>";
            content.innerHTML =c;
        }

    });
    let tri = document.getElementById("type-search")

    tri.addEventListener('change', function (event) {
        if(tri.value == 2 ) {

            content.innerHTML = "<table class=\"blueTable\">\n" +
                "<thead>\n" +
                "<tr>\n" +
                "    <th>Numéro de l'emprunt</th>\n" +
                "<th>email de l'utilisateur</th>\n" +
                "<th>nom du document - code</th>\n" +
                "<th>Date emprunt</th>\n" +
                "<th>Date retour</th>\n" +
                "<th>Date limite</th>\n" +
                "    <th>Nombre de jours de retards</th>\n" +
                "</tr>\n" +
                "</thead>\n" +
                "   {% for emprunt in emprunts|reverse %}\n" +
                "        <tbody>\n" +
                "        <tr>\n" +
                "            <td>{{ emprunt.id }}</td>\n" +
                "        <td>{{ emprunt.mail }} </td>\n" +
                "        <td>{{ emprunt.titre }} - {{ emprunt.code }}</td>\n" +
                "        <td>{{ emprunt.date_emprunt }}</td>\n" +
                "        <td>{{ emprunt.date_retour }}</td>\n" +
                "        <td>{{ emprunt.date_limite }}</td>\n" +
                "            <td>{{ emprunt.retard }}</td>\n" +
                "        </tr>\n" +
                "        </tbody>\n" +
                "    {% endfor %}\n" +
                "\n" +
                "          </table>"

        }else {
            content.innerHTML = "<table class=\"blueTable\">\n" +
                "<thead>\n" +
                "<tr>\n" +
                "    <th>Numéro de l'emprunt</th>\n" +
                "<th>email de l'utilisateur</th>\n" +
                "<th>nom du document - code</th>\n" +
                "<th>Date emprunt</th>\n" +
                "<th>Date retour</th>\n" +
                "<th>Date limite</th>\n" +
                "    <th>Nombre de jours de retards</th>\n" +
                "</tr>\n" +
                "</thead>\n" +
                "   {% for emprunt in emprunts %}\n" +
                "        <tbody>\n" +
                "        <tr>\n" +
                "            <td>{{ emprunt.id }}</td>\n" +
                "        <td>{{ emprunt.mail }} </td>\n" +
                "        <td>{{ emprunt.titre }} - {{ emprunt.code }}</td>\n" +
                "        <td>{{ emprunt.date_emprunt }}</td>\n" +
                "        <td>{{ emprunt.date_retour }}</td>\n" +
                "        <td>{{ emprunt.date_limite }}</td>\n" +
                "            <td>{{ emprunt.retard }}</td>\n" +
                "        </tr>\n" +
                "        </tbody>\n" +
                "    {% endfor %}\n" +
                "\n" +
                "          </table>";
        }

    })

</script>