{% include 'layout.html.twig' %}

<h1>Emprunter un document</h1>
<div class="search">
    <label for="search_code">Rechercher un document</label>
    <input type="search" id="search_code" name="ru" value="code du document..." onfocus="if(this.value=='code du document...')this.value=''" onblur="if(this.value=='')this.value='code du document...'" autocomplete="off">
    <button id="submit_research_code">rechercher</button><div id="infoRecherche"></div>
</div>

    <div class="content">
        <div class="row">
            <h2>Information sur l'utilisateur : </h2>
            <div class="boite content">
                <input type="hidden" id="idu" name="idu" value={{ utilisateur.id }} >
                <div><label for="nom">nom : </label><input type="text" id="nom" name="nom" disabled="disabled" value={{ utilisateur.nom }} ></div>
                <div><label for="prenom">prenom : </label><input type="text" id="prenom" name="prenom" disabled="disabled" value={{ utilisateur.prenom }}></div>
                <div><label for="mail">mail : </label><input type="text" id="mail" name="mail" disabled="disabled" value= {{ utilisateur.mail }}></div>
            </div>
        </div>
        <div class="row">
            <h2>Information sur le document à emprunter : </h2>
            <div class="boite content">
                <input type="hidden" id="id_doc" name="id_doc" value={{ document.id }}>
                <div><label for="typeDoc">type : </label><input type="text" id="typeDoc" name="typeDoc" value={{ document.type }}></div>
                <div><label for="nomDoc">nom : </label><input type="text" id="nomDoc" name="nomDoc" value={{ document.titre|escape }}></div>
                <div><label for="codeDoc">code : </label><input type="text" id="codeDoc" name="codeDoc" value={{ document.code }}></div>

            </div>
        </div>
    </div>

<form action="faireemprunt" method="post">
    <div><label for="dateRendu">date : </label><input type="date" id="date" name="date" required></div>
    <input type="hidden" id="idu" name="idu" value={{ utilisateur.id }} >
    <input type="hidden" id="liste" name="liste" value="empty" required>
    <button type="submit" id="confE" disabled="disabled">confirmer l'emprunt</button>
</form>


<button id="addDoc">ajouter un document</button>
<div class="content" id="listedoc">

</div>


<script type="application/javascript">
    let listeDocEmp = [];
    let listeDocEmpId = []
    let listeDocuments = [];
    
    document.getElementById("addDoc").addEventListener('click', function (event) {
        let type = document.getElementById("typeDoc").value
        let nom = document.getElementById("nomDoc").value
        let code = document.getElementById("codeDoc").value
        let date = document.getElementById("date").value
        let id = document.getElementById("id_doc").value
        let content = document.getElementById("listedoc")
        let listeid = document.getElementById("liste")
        document.getElementById("confE").disabled = ""

        if(!listeDocEmpId.includes(id)) {
            listeDocEmp.push([type, nom, code, date])
            listeDocEmpId.push(id)
            content.innerHTML += "<div class='row'>"+type+" "+nom+" "+code+" "+date+"</div>"
        }else {
            alert("Document déjà dans la liste")
        }

        listeid.value = listeDocEmpId;

        
    })
    

    {% for doc in listeDesDocuments %}
    listeDocuments.push(["{{ doc.type }}","{{ doc.titre }}","{{ doc.code }}","{{ doc.id }}"]);
    {% endfor %}
    let rechercher = document.getElementById("submit_research_code");
    let codeDocument = document.getElementById("search_code");

    rechercher.addEventListener('click', function (event) {
        let codefind = 0;
        let rechCode = document.getElementById("infoRecherche");
        listeDocuments.forEach(function (doc) {
            if(doc[2] == codeDocument.value) {
                let type = document.getElementById("typeDoc");
                let titre = document.getElementById("nomDoc");
                let code = document.getElementById("codeDoc");
                let id = document.getElementById("id_doc");
                id.value = doc[3];
                type.value = doc[0];
                titre.value=doc[1];
                code.value=doc[2];
                rechCode.innerHTML = "";
                codefind = 1;

            }else {
                if (codefind === 0) {
                    rechCode.innerHTML = "pas de code correspondant";
                }

            }
        })
    });


</script>