{% include 'layout.html.twig' %}

<h1>Rendre un document</h1>
<div class="search">
    <label for="search_code">Rechercher un document</label>
    <input type="search" id="search_code" name="ru" value="code du document..." onfocus="if(this.value=='code du document...')this.value=''" onblur="if(this.value=='')this.value='code du document...'" autocomplete="off">
    <button id="submit_research_code">rechercher</button><div id="infoRecherche"></div>
</div>
<form action="rendredoc" method="post">
    <div class="content">
        <div class="row">
            <h2>Information sur l'utilisateur : </h2>
                <div class="boite content">
                    <input type="hidden" id="idu" name="idu" value={{ utilisateur.id }} >
                    <div><label for="nom">nom : </label><input type="text" id="nom" name="nom" disabled="disabled" value={{ utilisateur.nom }} ></div>
                    <div><label for="prenom">prenom : </label><input type="text" id="prenom" name="prenom" disabled="disabled" value={{ utilisateur.prenom }}></div>
                    <div><label for="mail">mail : </label><input type="text" id="mail" name="mail" disabled="disabled" value= {{ utilisateur.mail }}></div>
                </div>
        </div>
        <div class="row">
            <h2>Information sur le document à rendre : </h2>
                <div class="boite content">
                    <input type="hidden" id="id_doc" name="id_doc" value={{ document.id }}>
                    <div><label for="typeDoc">type : </label><input type="text" id="typeDoc" name="typeDoc" disabled="disabled" value={{ document.type }}></div>
                    <div><label for="nomDoc">nom : </label><input type="text" id="nomDoc" name="nomDoc" disabled="disabled" value={{ document.titre|escape }}></div>
                    <div><label for="codeDoc">code : </label><input type="text" id="codeDoc" name="codeDoc" disabled="disabled" value={{ document.code }}></div>
                    <div><label for="dateRendu">date : </label><input type="date" id="dateRendu" name="dateRendu" required></div>
                </div>
        </div>
    </div>
    <button type="submit">confirmer le rendu</button>
</form>


<script type="application/javascript">
    let listeDocuments = [];

    {% for doc in listeDesDocuments %}
        listeDocuments.push(["{{ doc.type }}","{{ doc.titre }}","{{ doc.code }}","{{ doc.id }}"]);
    {% endfor %}
    let rechercher = document.getElementById("submit_research_code");
    let codeDocument = document.getElementById("search_code");

    rechercher.addEventListener('click', function (event) {
        let rechCode = document.getElementById("infoRecherche");
        listeDocuments.forEach(function (doc) {
            if(doc[2] == codeDocument.value) {
                let type = document.getElementById("typeDoc");
                let titre = document.getElementById("nomDoc");
                let code = document.getElementById("codeDoc");
                let id = document.getElementById("id_doc");
                id.value = doc[3];
                type.value = doc[0];
                titre.value=doc[1];
                code.value=doc[2];
                rechCode.innerHTML = "";
            }else {
                rechCode.innerHTML = "pas de code correspondant";
            }
        })
    });

</script>