{% extends 'layout.html.twig' %}

{% block content %}

<h1> Création compte </h1>
				


				<!--path_for('login') -->
				<form action="{{utilisateurs.id}}"method="post">	
					<div class="form-group">
					<div>
						<label for="nom">Nom</label>
						<input type="text" name="nom"  id="nom" value="{{utilisateurs.nom}}" required>
							</div>
                        <br>
								<div>
                        	<label for="prenom">Prénom</label>
						<input type="text" name="prenom"  id="prenom" value="{{utilisateurs.prenom}}" required>
                               
							   			</div> <br>
												<div>
						<label for="mdp">Mot de passe</label>
						<input type="password" name="mdp" id="mdp" value="{{utilisateurs.mdp}}" required>
                                	</div><br>
										<div>
                        	<label for="mail"> Email</label>
						<input type="text" name="mail" id="mail" value="{{utilisateurs.mail}}" required>
                              	</div>  <br>
										<div>
                        	<label for="adresse">Adresse</label>
						<input type="text" name="adresse" id="adresse" value="{{utilisateurs.adresse}}" required>
                              	</div>  <br>
										<div>
                        	<label for="telephone">Téléphone</label>
						<input type="number" name="telephone" id="telephone"   min="0" value="{{utilisateurs.telephone}}" required>
                                <br>
										</div>
           		
						<button type="submit" >Valider!</button>
					</div>
				</form>



				

{% endblock %}