{% include 'layout.html.twig' %}
{% block stylesheets %}
    <link href="../../src/css/listeUtilisateur.css" type="text/css" rel="stylesheet" />
{% endblock %}
<h1>Liste des utilisateurs : </h1>
<div class="search">
    <label for="search_user">Rechercher un utilisateur</label>
    <input type="search" id="search_user" name="ru" value="nom de l'utilisateur..." onfocus="if(this.value=='nom de l\'utilisateur...')this.value=''" onblur="if(this.value=='')this.value='nom de l\'utilisateur...'" autocomplete="off">

    <button id="submit_research">rechercher</button><div id="infoSearch"></div>
</div>
<div class="content">
    <div class="ligne-p">
        <span class="nom">Nom </span><span class="prenom">Prenom </span><span>Email </span><span>Telephone </span><span>Adresse </span><span>Date d'adhesion </span><span>nombre d'emprunts </span>
    </div>
    <div id="iu">
        {% for utilisateur in utilisateurs %}
            {% set nbCommandes = 0 %}

            {% for comm in commandes %}
                {% if utilisateur.mail == comm.mail %}
                    {% set nbCommandes = nbCommandes + 1 %}
                {% endif %}
            {% endfor %}
            <div class="ligne-u">
                <span class="nom">{{ utilisateur.nom }} </span><span class="prenom">{{ utilisateur.prenom }} </span><span>{{ utilisateur.mail }} </span><span>{{ utilisateur.adresse }} </span><span>{{ utilisateur.telephone }} </span><span>{{ utilisateur.date_adhesion }} </span><span>{{ nbCommandes }} </span> <button value="{{ utilisateur.id }} id = {{ utilisateur.id }}">Consulter</button>
            </div>
        {% endfor %}
    </div>
</div>

<script type="application/javascript">
    let listeNomUtilisateur = [];

    {% for utilisateur in utilisateurs %}
        {% set nbCommandes = 0 %}

        {% for comm in commandes %}
            {% if utilisateur.mail == comm.mail %}
                {% set nbCommandes = nbCommandes + 1 %}
            {% endif %}
        {% endfor %}
        listeNomUtilisateur.push(["{{ utilisateur.nom }}","{{ utilisateur.prenom }}","{{ utilisateur.mail }}","{{ utilisateur.adresse}}","{{ utilisateur.telephone }}","{{ utilisateur.date_adhesion }}","{{ utilisateur.id }}","{{ nbCommandes }}"]);
    {% endfor %}
    let rechercher = document.getElementById("submit_research");
    let nomUtilisateur = document.getElementById("search_user");

    rechercher.addEventListener('click', function (event) {
        let utilisateurTrouve = [];

        listeNomUtilisateur.forEach(function (utilisateur) {
            if(nomUtilisateur.value.toLowerCase() === utilisateur[0].toLowerCase()) {
                utilisateurTrouve.push(utilisateur)
            }
        })


        let content = document.getElementById("iu");
        if(utilisateurTrouve.length >= 1 ){


            content.innerHTML = "";

            utilisateurTrouve.forEach(function (utilisateur) {

                content.innerHTML += "<div class=\"ligne-u\">\n" +
                    "                <span class=\"nom\">"+utilisateur[0] +" </span><span class=\"prenom\">"+utilisateur[1] +" </span><span>"+utilisateur[2] +" </span><span>"+utilisateur[3] +" </span><span>"+utilisateur[4] +" </span><span>"+utilisateur[5] +" </span><span>"+utilisateur[7] +" </span>  <button value=\""+utilisateur[6] +" id = "+utilisateur[6] +"\">Consulter</button>\n" +
                    "            </div>"
            })
        }else{
            content.innerHTML = "";
            listeNomUtilisateur.forEach(function (utilisateur) {

                content.innerHTML += "<div class=\"ligne-u\">\n" +
                    "                <span class=\"nom\">"+utilisateur[0] +" </span><span class=\"prenom\">"+utilisateur[1] +" </span><span>"+utilisateur[2] +" </span><span>"+utilisateur[3] +" </span><span>"+utilisateur[4] +" </span><span>"+utilisateur[5] +" </span><span>"+utilisateur[7] +" </span> <button value=\""+utilisateur[6] +" id = "+utilisateur[6] +"\">Consulter</button>\n" +
                    "            </div>"

                document.getElementById("infoSearch").innerHTML = "Aucun utilisateur trouvé"

            })
        }


    });


</script>
