{% include 'layout.html.twig' %}
{% block stylesheets %}
    <link href="../../src/css/grid.css" type="text/css" rel="stylesheet" />
    <link href="../../src/css/infoUtilisateur.css" type="text/css" rel="stylesheet" />
{% endblock %}

<h1>Liste media emprunté par {{ uti.nom }} {{ uti.prenom }}</h1>
<form action="faireemprunts" method="get">

    <button type="submit">Emprunter des documents</button>
    <input type="hidden" name="idu" value={{ uti.id }}>
</form>
<table class="blueTable">
<thead>
<tr>
<th> Type document</th>
<th> Titre document</th>
<th>Date emprunt</th>
<th>Date retour</th>
<th>Date limite</th>
<th>Etat</th>
    <th>Nombre de jours de retards</th>
</tr>
</thead>

    {% for doc in emprunt %}
<tbody>
            {% if doc.etat == 1 and doc.date_retour == "" %}
                     <tr>
            <td>{{ doc.type }} </td>
            <td>{{ doc.titre }}</td>
            <td>{{ doc.date_emprunt }}</td>
            <td>{{ doc.date_retour }}</td>
            <td>{{ doc.date_limite}}</td>
                         <td>En votre possession</td>
            <form action="rendredoc" method="get">
                        <input type="hidden" name="idu" value={{ uti.id }}>
                        <input type="hidden" name="ide" value={{ doc.id_document }}>
            <td>    <button type="submit">Rendu</button></form>vous avez encore {{ doc.retard}}</td>
            </tr>
            {% elseif doc.etat == 1 %}
                    <tr>
            <td>{{ doc.type }} </td>
            <td>{{ doc.titre }}</td>
            <td>{{ doc.date_emprunt }}</td>
            <td>{{ doc.date_retour }}</td>
            <td>{{ doc.date_limite}}</td>
            <td>Emprunté</td>
                        <td>{{ doc.retard}}</td>
            </tr>
            {% endif %}

            {% if doc.etat == 0 %}
                    <tr>
            <td>{{ doc.type }} </td>
            <td>{{ doc.titre }}</td>
            <td>{{ doc.date_emprunt }}</td>
            <td>{{ doc.date_retour }}</td>
            <td>{{ doc.date_limite}}</td>

            <td>disponible</td>
                        <td>{{ doc.retard}}</td>
            </tr>
            {% endif %}

            {% if doc.etat == 2 %}
                    <tr>
            <td>{{ doc.type }} </td>
            <td>{{ doc.titre }}</td>
            <td>{{ doc.date_emprunt }}</td>
            <td>{{ doc.date_retour }}</td>
            <td>{{ doc.date_limite}}</td>
            <td> réservé</td>
                        <td>{{ doc.retard}}</td>
            </tr>
            {% endif %}

            {% if doc.etat == 3 %}
            <tr>
            <td>{{ doc.type }} </td>
            <td>{{ doc.titre }}</td>
            <td>{{ doc.date_emprunt }}</td>
            <td>{{ doc.date_retour }}</td>
            <td>{{ doc.date_limite}}</td>
            <td>indisponible</td>
                <td>{{ doc.retard}}</td>
            </tr>
            {% endif %}

</tbody>
    {% endfor %}
     </table>
</div>



