{% include 'layout.html.twig' %}
{% block stylesheets %}
    <link href="../../src/css/listeUtilisateur.css" type="text/css" rel="stylesheet" />
    <link href="../../src/css/grid.css" type="text/css" rel="stylesheet" />
{% endblock %}
<h1>Liste des utilisateurs : </h1>
<div class="search">
    <label for="search_user">Rechercher un utilisateur</label>
    <input type="search" id="search_user" name="ru" value="nom de l'utilisateur..." onfocus="if(this.value=='nom de l\'utilisateur...')this.value=''" onblur="if(this.value=='')this.value='nom de l\'utilisateur...'" autocomplete="off">

    <button id="submit_research">rechercher</button><div id="infoSearch"></div>
</div>
<div class="content">
    <div class="row">
        <label name="nom">Nom </label><label name="prenom">Prenom </label><label>Email </label><label>Telephone </label><label>Adresse </label><label>Date d'adhesion </label><label>nombre d'emprunts </label>
    </div>
    <div id="iu">
        {% for utilisateur in utilisateurs %}
            {% set nbCommandes = 0 %}

            {% for comm in commandes %}
                {% if utilisateur.mail == comm.mail %}
                    {% set nbCommandes = nbCommandes + 1 %}
                {% endif %}
            {% endfor %}
            <div class="row">
                <form action="informationusager" method="get">
                    <label name="nom">{{ utilisateur.nom }} </label>
                    <label name="prenom">{{ utilisateur.prenom }} </label>
                    <input type="hidden" name="idu" value={{ utilisateur.id }}>
                    <label name = "mail" id="mail">{{ utilisateur.mail }} </label>
                    <label>{{ utilisateur.adresse }} </label>
                    <label>{{ utilisateur.telephone }} </label>
                    <label>{{ utilisateur.date_adhesion }} </label>
                    <label>{{ nbCommandes }} </label>
                    <button type="submit" >Consulter</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>

<script type="application/javascript">
    let listeNomUtilisateur = [];

    {% for utilisateur in utilisateurs %}
        {% set nbCommandes = 0 %}

        {% for comm in commandes %}
            {% if utilisateur.mail == comm.mail %}
                {% set nbCommandes = nbCommandes + 1 %}
            {% endif %}
        {% endfor %}
        listeNomUtilisateur.push(["{{ utilisateur.nom }}","{{ utilisateur.prenom }}","{{ utilisateur.mail }}","{{ utilisateur.adresse}}","{{ utilisateur.telephone }}","{{ utilisateur.date_adhesion }}","{{ utilisateur.id }}","{{ nbCommandes }}"]);
    {% endfor %}
    let rechercher = document.getElementById("submit_research");
    let nomUtilisateur = document.getElementById("search_user");

    rechercher.addEventListener('click', function (event) {
        let utilisateurTrouve = [];

        listeNomUtilisateur.forEach(function (utilisateur) {
            if(nomUtilisateur.value.toLowerCase() === utilisateur[0].toLowerCase()) {
                utilisateurTrouve.push(utilisateur)
            }
        })


        let content = document.getElementById("iu");
        if(utilisateurTrouve.length >= 1 ){


            content.innerHTML = "";

            utilisateurTrouve.forEach(function (utilisateur) {

                content.innerHTML += "<form action=\"informationusager\" method=\"post\"><div class=\"ligne-u\">\n" +
                    "                <label class=\"nom\">"+utilisateur[0] +" </label><label class=\"prenom\">"+utilisateur[1] +" </label><label>"+utilisateur[2] +" </label><label>"+utilisateur[3] +" </label><label>"+utilisateur[4] +" </label><label>"+utilisateur[5] +" </label><label>"+utilisateur[7] +" </label><input type=\"hidden\" name=\"idu\" value="+utilisateur[6]+">  <button type='submit'>Consulter</button>\n" +
                    "            </div></form>"
            })
        }else{
            content.innerHTML = "";
            listeNomUtilisateur.forEach(function (utilisateur) {

                content.innerHTML += "<form action=\"informationusager\" method=\"post\"><div class=\"ligne-u\">\n" +
                    "                <label class=\"nom\">"+utilisateur[0] +" </label><label class=\"prenom\">"+utilisateur[1] +" </label><label>"+utilisateur[2] +" </label><label>"+utilisateur[3] +" </label><label>"+utilisateur[4] +" </label><label>"+utilisateur[5] +" </label><label>"+utilisateur[7] +" </label><input type=\"hidden\" name=\"idu\" value="+utilisateur[6]+">  <button type='submit'>Consulter</button>\n" +
                    "            </div></form>"

                document.getElementById("infoSearch").innerHTML = "Aucun utilisateur trouvé"

            })
        }


    });


</script>
