{% include 'layout.html.twig' %}
{% block stylesheets %}

    <link href="../../src/css/listeUtilisateur.css" type="text/css" rel="stylesheet" />
{% endblock %}
<h1>Liste des demandes d'adhésion : </h1>
<div class="search">
    <label for="search_user">Rechercher un utilisateur</label>
    <input type="search" id="search_user" name="ru" value="nom de l'utilisateur..." onfocus="if(this.value=='nom de l\'utilisateur...')this.value=''" onblur="if(this.value=='')this.value='nom de l\'utilisateur...'" autocomplete="off">

    <button id="submit_research">rechercher</button><div id="infoSearch"></div>
</div>
<table class="blueTable">
<thead>
<tr>
<th>Nom</th>
<th>Prenom</th>
<th>mail</th>
<th>adresse</th>
<th>telephone</th>
<th>Date demande d'adhesion</th>
</tr>
</thead>
        {% for adh in ladhesion %}
          
						
<tbody>
<tr>
<td>{{ adh.nom }} </td>
<td>{{ adh.prenom }}</td>
  <input type="hidden" name="idu" value={{ adh.id }}>
<td>{{ adh.mail }}</td>
<td>{{ adh.adresse }}</td>
<td>{{ adh.telephone }}</td>
<td>{{ adh.date_adhesion }}</td>
<td><a href="{{ path_for('accepter', { 'id': adh.id }) }}"> <button  >accepter</button></a><a href="{{ path_for('refuser', { 'id': adh.id }) }}"><button  >refuser</button></a></td>
</tr>
</tbody>
        {% endfor %}
        </table>
      
</div>

<script type="application/javascript">
    let listeNomUtilisateur = [];

    {% for utilisateur in utilisateurs %}
        {% set nbCommandes = 0 %}

        {% for comm in commandes %}
            {% if utilisateur.mail == comm.mail %}
                {% set nbCommandes = nbCommandes + 1 %}
            {% endif %}
        {% endfor %}
        listeNomUtilisateur.push(["{{ utilisateur.nom }}","{{ utilisateur.prenom }}","{{ utilisateur.mail }}","{{ utilisateur.adresse}}","{{ utilisateur.telephone }}","{{ utilisateur.date_adhesion }}","{{ utilisateur.id }}","{{ nbCommandes }}"]);
    {% endfor %}
    let rechercher = document.getElementById("submit_research");
    let nomUtilisateur = document.getElementById("search_user");

    rechercher.addEventListener('click', function (event) {
        let utilisateurTrouve = [];

        listeNomUtilisateur.forEach(function (utilisateur) {
            if(nomUtilisateur.value.toLowerCase() === utilisateur[0].toLowerCase()) {
                utilisateurTrouve.push(utilisateur)
            }
        })


        let content = document.getElementById("iu");
        if(utilisateurTrouve.length >= 1 ){


            content.innerHTML = "";

            utilisateurTrouve.forEach(function (utilisateur) {

                content.innerHTML += "<form action=\"informationusager\" method=\"post\"><div class=\"ligne-u\">\n" +
                    "                <label class=\"nom\">"+utilisateur[0] +" </label><label class=\"prenom\">"+utilisateur[1] +" </label><label>"+utilisateur[2] +" </label><label>"+utilisateur[3] +" </label><label>"+utilisateur[4] +" </label><label>"+utilisateur[5] +" </label><label>"+utilisateur[7] +" </label><input type=\"hidden\" name=\"idu\" value="+utilisateur[6]+">  <button type='submit'>Consulter</button>\n" +
                    "            </div></form>"
            })
        }else{
            content.innerHTML = "";
            listeNomUtilisateur.forEach(function (utilisateur) {

                content.innerHTML += "<form action=\"informationusager\" method=\"post\"><div class=\"ligne-u\">\n" +
                    "                <label class=\"nom\">"+utilisateur[0] +" </label><label class=\"prenom\">"+utilisateur[1] +" </label><label>"+utilisateur[2] +" </label><label>"+utilisateur[3] +" </label><label>"+utilisateur[4] +" </label><label>"+utilisateur[5] +" </label><label>"+utilisateur[7] +" </label><input type=\"hidden\" name=\"idu\" value="+utilisateur[6]+">  <button type='submit'>Consulter</button>\n" +
                    "            </div></form>"

                document.getElementById("infoSearch").innerHTML = "Aucun utilisateur trouvé"

            })
        }


    });


</script>